PORT=3002
SK_ENV_URL=https://<your-env>.scalekit.com
SK_CLIENT_ID=<your-client-id>
SK_CLIENT_SECRET=<your-client-secret>
PROTECTED_RESOURCE_METADATA='<resource-metadata-json-from-scalekit-dashboard>'
EXPECTED_AUDIENCE=http://localhost:3002/
